*.o
*.d
*.bin

/build
/build-debug
/build-release
feyerverx.a

.idea
.vscode
.config
.clang-format
.DS_Store
.cache
/feyerverx
/feyerverx.dSYM
__pycache__

.zig-cache
zig-out
main

CLAUDE.md
.claude
.mcp.json
.serena
